window#waybar {
  background-color: rgba(0, 0, 0, 0);
  /* color: #cdd6f4; */
  color: #d3c6aa;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
}

#workspaces {
  margin-top: 5px;
}

#workspaces button.active {
  /* background-color: #89b4fa; */
  /* color: #1e1e2e; */
  background-color: #2d353b;
  color: #d3c6aa;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  /* color: #89b4fa; */
  color: #a7c080;
  background-color: rgba(30, 30, 46, 0.75);
  border: none;
}

#workspaces button {
  /* color: #cdd6f4; */
  /* background-color: rgba(30, 30, 46, 0.5); */
  margin: 0 4px;
  padding: 0 7px 0 5px;
  border-radius: 8px;
  background-color: #414b50;
  color: #859289;
  border: none;
}

#clock {
  padding: 0 10px;
  border-radius: 8px;
}

.module {
  margin: 0 8px;
}

#custom-weather,
#clock,
.modules-right,
#custom-satchel-prs,
#custom-satchel-vpn {
  /* background-color: rgba(30, 30, 46, 0.5); */
  background-color: #414b50;
  padding: 0 10px;
  margin-top: 5px;
  border-radius: 8px;
}

.gh-review-requests {
  color: #a6e3a1;
}

#custom-weather.icon {
  font-size: 14px;
  font-family: "Noto Emoji";
}

#custom-satchel-vpn.service-on {
  color: #a6e3a1;
}

#custom-satchel-vpn.service-off {
  color: #e17c7e;
}

#custom-satchel-vpn.service-error {
  color: orange;
}
