window#waybar {
  background-color: rgba(30, 30, 46, 0.5); /* base */
  color: #cdd6f4; /* text */
  border-bottom: 2px solid #313244; /* surface0 */
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
}

#workspaces {
  margin: 5px 0 5px 5px;
}

#workspaces button.active {
  background-color: #89b4fa; /* blue */
  color: #1e1e2e;
}

#workspaces button {
  color: #cdd6f4; 
  margin: 0 4px;
  padding: 0 4px;
  background-color: #313244; /* surface0 */ 
}

#clock {
  padding: 0 10px;
  border-radius: 8px;
}

.module {
  margin: 0 5px;
}

#custom-weather.icon {
  font-size: 14px;
  font-family: "Noto Emoji";
}

#pulseaudio {
  min-width: 70px;
}
