[Unit]
Description=SwayOSD server
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
Type=simple
ExecStart=/usr/bin/swayosd-server
Restart=on-failure
RestartSec=1

[Install]
WantedBy=graphical-session.target
